* {
  font-family: 'Ropa Sans', sans-serif;
}
.inline {
  margin-left: 12em;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
}
#message-input {
  margin: 1.5em;
  margin-right: 0em;
  width:587px;
  height:35px;
}
#clear-btn {
  margin: 1.5em;
  width: 181px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: gray;
  color: #ffffff;
  padding: 5px 10px;
}

#clear-btn:hover {
  border: 1px solid black;
  background-color: slategray;
  color: #ffffff;
  padding: 5px 10px;
}

#clear-btn:disabled,
#clear-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.checkbox {
  display: flex;
}

.logo {
  font-family: 'Lobster', cursive;
}

.dark-theme {
	background-color: slategray;
	color: white;
}

.large-text {
	font-size: 3em;
}

#message-output {
  border: 2px solid black;
  height: 500px;
  width: 500px;
}

